{% sw_extends '@Storefront/storefront/component/product/card/wishlist.html.twig' %}

{% block component_product_wishlist_icon %}
    {% sw_icon 'star' style {class: 'wishlist icon-wishlist-not-added', size: size } %}

    {% if showText %}
        <span class="product-wishlist-btn-content product-wishlist-btn-content-{{ size }}">
            {{ 'listing.addToWishlist'|trans|sw_sanitize }}
        </span>
    {% endif %}
{% endblock %}