.cms-section .cms-section-sidebar {
    padding: 0;
}
.listing-sort {
    margin-right: 10px;
}
.cms-block-product-listing {
    overflow: visible;
}
.category-navigation {
    padding: 0;
    .category-navigation-link {
        transition: 300ms;
        &:hover {
            background-color: $light-gray;
        }
        &.in-path, &.is-active {
            background-color: $light-gray;
        }
    }
    &.level-1 {
        .category-navigation-link {
            padding-left: 40px;
        }
    }
    &.level-2 {
        .category-navigation-link {
            padding-left: 60px;
        }
    }
    &.level-3 {
        .category-navigation-link {
            padding-left: 80px;
        }
    }
}


@include media-breakpoint-up(lg) {
    .cms-element-product-listing-actions {
        border-bottom: 2px solid $sw-color-brand-secondary;
        padding-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        .col-md-auto:first-of-type {
            padding-left: 0;
        }
        .col-md-auto:last-of-type {
            padding-right: 0;
        }
    }
}
@include media-breakpoint-down(lg) {
    .cms-element-product-listing-actions {
        justify-content: space-between;
        .sorting {
            width: 260px;
        }
    }
}

@include media-breakpoint-down(md) {
    .listing-sort {
        display: none;
    }
    .cms-element-product-listing-actions .sorting {
        width: 100%;
    }
}