{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_pagination_nav_top %}
    <div class="h2 d-none d-md-block mb-0 fw-normal text-uppercase">{{ page.metaInformation.metaTitle }}</div>
{% endblock %}

{% block element_product_listing_sorting %}
    <span class="listing-sort">{{ 'general.sortingLabel'|trans }}: </span>{{ parent() }}
{% endblock %}